<div class="col-xs-6 col-md-4 col-centered">
  <% flash.each do |key, value| %>
      <div id="error_explanation">
        <div class="alert alert-<%= key %>"><%= value %></div>
      </div>
  <% end %>

  <%= form_for(:session, url: password_resets_path, html: {class: "form-horizontal", role: "form"}) do |f| %>
      <h4>We will email you the password reset instructions</h4>

      <div class="form-group">
        <div class="col-sm-10">
          <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
          <%= f.submit "Reset Password", class: "btn btn-primary" %>
        </div>
      </div>
  <% end %>

</div>