
  <%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
      <div class="form-group">
        <div class="col-sm-10">
            <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
            <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
            <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
            <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-10">
            <%= f.submit "Create account", class: "btn btn-primary" %>
          </div>
      </div>

      <%= render 'shared/error_messages' %>
  <% end %>




