<div class="l-box pure-u-1 pure-u-md-2-5">
  <%= form_for(@user, html: {class: "pure-form pure-form-stacked"}) do |f| %>
      <%= render 'shared/error_messages' %>

      <fieldset>

        <%= f.text_field :name, placeholder: "Name" %>

        <%= f.text_field :email, placeholder: "Email" %>

        <%= f.password_field :password, placeholder: "Password" %>

        <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>

        <%= f.submit "Create account", class: "pure-button" %>
      </fieldset>
  <% end %>
</div>

