<div class="col-xs-2">
  <%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
      <div class="form-group">
        <%= f.text_field :name, placeholder: "Name", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.text_field :email, placeholder: "Email", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, placeholder: "Password", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation", class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit "Create account", class: "btn btn-primary" %>
      </div>

      <%= render 'shared/error_messages' %>
  <% end %>
</div>




