  <%= form_for(@user, html: {class: "form-horizontal"}) do |f| %>
      <div class="control-group">
        <%= f.text_field :name, placeholder: "Name" %>
      </div>

      <div class="control-group">
        <%= f.text_field :email, placeholder: "Email" %>
      </div>

      <div class="control-group">
        <%= f.password_field :password, placeholder: "Password" %>
      </div>

      <div class="control-group">
        <%= f.password_field :password_confirmation, placeholder: "Password confirmation" %>
      </div>

      <div class="control-group">
        <%= f.submit "Create account", class: "btn btn-primary" %>
      </div>

      <%= render 'shared/error_messages' %>

  <% end %>

