<% provide(:title, @user.name) %>


<h1>
  <%= @user.name %>
</h1>

<h2>
  <%= @user.email%>
</h2>

<% if @user.user_cards.any? %>
    <div class="l-box">
      <h3>Your learning lists (<%= @user.user_cards.count %>)</h3>
      <ol class="usercards">
        <%= render @user_cards %>
      </ol>
      <%= will_paginate @user_cards %>
    </div>
<% end %>
