<% provide(:title, @user.name) %>

<div class="row-fluid">
  <div class="span4">
    <h3>
      <%= @user.name %>
    </h3>

    <h4>
      <%= @user.email %>
    </h4>
  </div>
  <div class="span8">
    <% if @user.user_cards.any? %>
        <h3>Your learning lists (<%= @user.user_cards.count %>)</h3>
        <ol class="usercards">
          <%= render @user_cards %>
        </ol>
        <div class="row">
          <div class="col-lg-4 col-centered">
            <%= will_paginate @user_cards, renderer: BootstrapPagination::Rails%>
          </div>
        </div>  
    <% end %>
  </div>
</div>