<% provide(:title, 'New cards - Excitest') %>

<h1>
  <%= @user_card.name %>
</h1>
<h2>
  <%= @user_card.description %>
</h2>

<% if @user_card.entries.any? %>
    <div>
      <%= form_for(@user_card) do |f| %>

          <h4>About your learning set</h4>

          <table>
            <tr>
              <td>
                <%= f.label :name %>
              </td>
              <td>
                <%= f.text_field :name %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.label :description %>
              </td>
              <td>
                <%= f.text_area :description %>
              </td>
            </tr>
          </table>

          <br/>

          <h4>Your learning terms</h4>
          <table id="entries_table" class="order-list">
                <% counter = 1 %>
                <%= f.fields_for :user_card_entries do |user_card_entries_form| %>
                    <tr>
                      <td><%= user_card_entries_form.text_field :entry_key %></td>
                      <td><%= user_card_entries_form.text_area :entry_value %></td>
                      <% if ( counter > 2 ) %>
                          <td><input type="button" class="ibtnDel"  value="Delete"></td>
                      <% end %>
                    </tr>
                <% counter += 1 %>
                <% end %>
          </table>

          <table align="left">
            <tr>
              <td align="left"><a id="add_entries">Add Row</a></td>
            </tr>
          </table>

          <br/>

          <table align="center">
            <tr>
              <td align="center"><%= f.submit "Update cards", class: "btn btn-large btn-primary" %></td>
            </tr>

          </table>

      <% end %>
      <%= link_to "Delete entire set", { :controller => :user_cards, :action => :delete, :id =>  @user_card.id }, method:"delete", class: "btn btn-primary", align:"left" %>


    </div>
<% end %>


<%= javascript_tag do %>
    $(document).ready(function () {
    var counter = 0;
    var table = $("#entries_table"),
    button = $("#add_entries");

    button.click( function () {
    counter = $('#entries_table tr').length;
    var newRow = $("<tr>");
  var cols = "";

  cols += '<td><input id="user_card_user_card_entries_attributes_' + counter + '_entry_key" name="user_card[user_card_entries_attributes][' + counter + '][entry_key]" type="text" /></td>';
  cols += '<td><textarea id="user_card_user_card_entries_attributes_' + counter + '_entry_value" name="user_card[user_card_entries_attributes][' + counter + '][entry_value]"> </textarea></td>';

  cols += '<td><input type="button" class="ibtnDel"  value="Delete"></td>';

  newRow.append(cols);
  table.append(newRow);
  counter++;
  });

  $("table.order-list").on("click", ".ibtnDel", function (event){
  $(this).closest("tr").remove();
  counter -= 1
  });

  });


<% end %>