<% provide(:title, 'New cards - Excitest') %>

<div class="l-box pure-u-1 pure-u-md-2-5">
  <%= form_for(@user_card, html: {class: "pure-form pure-form-stacked"}) do |f| %>

      <h3>About your learning set</h3>

      <fieldset>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :description %>
        <%= f.text_area :description %>
      </fieldset>


      <br/>

      <h4>Your learning terms</h4>
      <table id="entries_table" class="order-list">
        <%= f.fields_for :user_card_entries do |user_card_entries_form| %>
            <tr>
              <td><%= user_card_entries_form.text_field :entry_key %></td>
              <td><%= user_card_entries_form.text_area :entry_value %></td>
            </tr>
        <% end %>
      </table>

      <table align="left">
        <tr>
          <td align="left"><a id="add_entries">Add Row</a></td>
        </tr>
      </table>

      <br/>
      <table align="center">
        <tr>
          <td align="center"><%= f.submit "Create cards", class: "btn btn-large btn-primary" %></td>
        </tr>
      </table>

  <% end %>

</div>

<%= javascript_tag do %>
    $(document).ready(function () {
        var counter = 0;
        var table = $("#entries_table"),
        button = $("#add_entries");

        button.click( function () {
            counter = $('#entries_table tr').length;
            var newRow = $("<tr>");
            var cols = "";

            cols += '<td><input id="user_card_user_card_entries_attributes_' + counter + '_entry_key" name="user_card[user_card_entries_attributes][' + counter + '][entry_key]" type="text" /></td>';
            cols += '<td><textarea id="user_card_user_card_entries_attributes_' + counter + '_entry_value" name="user_card[user_card_entries_attributes][' + counter + '][entry_value]"> </textarea></td>';

            cols += '<td><input type="button" class="ibtnDel"  value="Delete"></td>';

            newRow.append(cols);
            table.append(newRow);
            counter++;
        });

        $("table.order-list").on("click", ".ibtnDel", function (event){
            $(this).closest("tr").remove();
            counter -= 1
        });

    });


<% end %>