<% provide(:title, 'New cards - LearnBird') %>
<div class="center hero-unit">
  <h2>
    Create your learn cards here by adding content you want to learn in left with their translation or desciption in right.
  </h2>

  <div class="row">
    <div class="small-4 columns">
      <%= form_for(@user_card) do |f| %>
          <%= f.label :name %>
          <%= f.text_field :name %>

          <%= f.label :description %>
          <%= f.text_field :description %>

          <ul>
            <%= f.fields_for :user_card_entries do |user_card_entries_form| %>
                <li>
                  <%= user_card_entries_form.label :entry_key %>
                  <%= user_card_entries_form.text_field :entry_key %>

                  <%= user_card_entries_form.label :entry_value %>
                  <%= user_card_entries_form.text_field :entry_value %>
                </li>
            <% end %>
          </ul>

          <%= f.submit "Create cards", class: "btn btn-large btn-primary" %>
      <% end %>
    </div>
  </div>

</div>
