<% provide(:title, 'New cards - LearnBird') %>

<div>
      <%= form_for(@user_card) do |f| %>

            <h4>About your learning set</h4>
            <p>
              <%= f.label :name %>
            </p>
            <p>
              <%= f.text_field :name %>
            </p>

            <p>
              <%= f.label :description %>
            </p><p>
              <%= f.text_field :description %>
            </p>
           <br/>

          <h4>Your learning terms</h4>
          <table>
              <%= f.fields_for :user_card_entries do |user_card_entries_form| %>
                <tr>
                  <td><%= user_card_entries_form.text_field :entry_key %></td>
                  <td><%= user_card_entries_form.text_field :entry_value %></td>
                </tr>
              <% end %>

          </table>
          <table align="center" >
            <tr>
              <td align="center"><%= f.submit "Create cards", class: "btn btn-large btn-primary" %></td>
            </tr>
          </table>

      <% end %>

</div>